*{
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;

}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
/*img {*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*height: 200vh;*/
/*}*/

.conteiner {
    width: 1024px;
    height: 1297px;
    background-color: white;
    border: 2px solid red;
    padding: 20px;

}



.blok-second {
    height: 640px;
}

.block-left {
    width: 640px;
    display: inline-block;

}


.photo-in {
    width: 360px;
    height: 281px;
    float: left;

}

img {
    margin: 0 20px 10px 0;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.block-right {
    width: 300px;
    float: right;
    font-size: 15px;


}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.first-sidebar-item::before {
    content: url("api (1).jpeg");
    float: left;
    display: block;
    margin-right: 10px;
}
.line-in {
    border: 1px solid black;
    margin: 20px auto 20px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.block-botum {
    width: 640px;
    float: left;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/*.colum-rith::before {*/
    /*!*content: url("api (2).jpeg");*!*/
    /*float: right;*/
    /*width: 200px;*/
    /*height: 250px;*/

/*}*/

.li-left::before {
    content: "\9212";
}

.text {
    margin-left: 35px;
}

.link-left {
    column-count: 2;
    -moz-column-gap: 20px;

}
.text-li {
    width: 200px;
    height: 250px;
    float: right}