* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

.flex-nav {
    display: flex;
    width: 500px;
    height: 70px;
    list-style: none;
    background-color: #1636ff;
    margin: 50px;
    border: 1px solid red;
    color: green;
}
.item{
    display: flex;
    align-items:center;
    padding: 10px;

}

.item:hover {
    background-color: white;
}

.item:hover  > a{
    color: blue;
}

.box {
    justify-content: space-between;
}

.box1 {
    justify-content: center;
}

.box2 {
    justify-content: flex-end;
}

.box3 {
    flex-wrap: wrap;
    justify-content: center;
}

.box4 {
    flex-direction: column;
    width: 110px;
    height: 140px;
}