*{
    padding: 0;
    margin: 0;
}


body{
    padding: 100px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVvlMzYPtpXIv9Lh-bX60KHDI9xi1Ckv1mYnHr7L3t_Uh3E-tI" );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300vh;

}
.wrapper{
    width: 480px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    padding: 20px 40px;
}
.img-top{
    width: 300px;
    display: block;
    margin-top: 30px;

}

.article1{
    margin-top: 20px;
}

.par1{
    margin-top: 10px;
}


.color{
    color: blue;
}

.article2{
    margin-top: 20px;
}

.par2{
    margin-top: 10px;
}

ul{
    display: inline-block;
    margin: 25px;
    vertical-align: top;
    list-style: none;
}

.par3{
    margin-top: 10px;

}
.article3{
    margin-top: 20px;
}

.box3{
    margin-top: 40px;
    border-top:2px solid black ;
    padding-top: 40px;
}
.box2{
    margin-top: 40px;
}

.box4{
    margin-top: 40px;
}


