* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.wrapper {
    background-color: #263555;

}

.container {
    width: 1000px;
    height: 1500px;
    margin: auto;
}

.main {
    width: 1000px;
    height: 1179px;
    background-color: rgba(87, 103, 127, 0.5);
    padding: 15px 10px;

}

.header {
    margin: 0 auto 30px;
    width: 1000px;
    height: 45px;
    border: 1px solid gray;
    background-color: #f2f2f2;
    border-radius: 3px;

}

.nav {
    margin-left:70px ;
    list-style: none;
    display: inline-block;
    font-size: 14px;

}

.type {
    display: inline-block;
    margin-left: 30px;
    height: 45px;
    line-height: 45px;
}

.type > a{
    text-decoration: none;
    color: red;
    display: block;

}

.type > a:hover {
    color: pink;

}

.img {

    display: inline-block;
    /*margin: 15px 0 0 40px;*/
}

/*.main {*/
    /*background-color: red;*/
    /*width: 700px;*/
    /*height: 1179px;*/
    /*display: inline-block;*/
/*}*/

.sidebar-item1 {
    display: block;
    width: 218px;
    height: 337px;
    background-color: #373e47;
    border-radius: 3px;

}

.sidebar-item2 {
    width: 219px;
    height: 317px;
    background-color: #373e47;
    display:  block;
    color: #e4e4e4;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    border-radius: 3px;
    padding: 15px;

}

/*.content {*/
    /*width: 700px;*/
    /*height: 1000px;*/
    /*vertical-align: top;*/
    /*display: inline-block;*/
    /*background-color: white;*/

/*}*/

.sidebar{
    display: inline-block;
}

.type-list {
    list-style: none;
}

.box-items {
    width: 218px;
    color: pink;
    border-bottom: 1px solid #4c545e;
    height: 33px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;


}

.box-items > a {
    text-decoration: none;
    color: red;
}

.box-items > a:hover {
    color: white;
}

.in {
    margin-bottom: 20px;
}

.inni {
    margin-top: 40px;
    text-align: right;
}

/*.info {*/
    /*display: inline-block;*/
    /*width: 700px;*/
    /*height: 50px;*/
/*}*/

.content {
    display: inline-block;
    vertical-align: top;
    width: 740px;
    height: 1179px;
    padding: 15px;

}

.line-one {
    display: inline-block;
    margin-left: 20px;
}

.line-two {
    display: inline-block;
    margin-left: 20px;
}

.line123 {
    border-bottom: 1px solid #4c545e;
    height: 33px;
    line-height: 33px;
    font-size: 13px;
    text-align: center;
}

.line124 {
    height: 33px;
    line-height: 33px;
    font-size: 13px;
    text-align: center;
}

.fi {
    color: red;
}

.text-top {
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;

}

.text-in {
    color: #e4e4e4;
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
    text-align: left;
}

.item {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    margin-bottom: 20px;
}

.photo {
    display: inline-block;
    width: 220px;
    height: 183px;
    border: 10px solid #697689;
    background-color: white;
    margin-right: 11px;

}

.section1 {
    display: inline-block;
}

.section2 {
    display: inline-block;
}

.section3 {
    display: inline-block;
}

.text {
    margin-bottom: 20px;
}

.link {
    margin: 0 0 15px 20px;
    color:  #ffffff;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;

}

.list {
    margin: 0 40px 0 20px;
    color:  #e4e4e4;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
}

.item3 {
    list-style: none;
}

.title-in {
    margin: 20px 0 20px;
}

.table-main {
    background-color:black ;
    width: 200px;
    height: 30px;
    border: 1px solid #4c545e;
    color:  #ffffff;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
}

.table-td {
    width: 200px;
    height: 30px;
    border: 1px solid #4c545e;
    color:  #ffffff;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    background-color: gray;
}

.photo:last-child {
    margin-right: 0;
}